<main>
    <form>
      <div class="formularioReserva">
        <div class="imagenDelForm">
          <img src="assets/main_Resources/logo-matchfood.png" alt="Logo MatchFood">
        </div>
        <div class="form-title">
          <h2>Califica tu experiencia</h2>
        </div>
        
        <div class="form-field-textarea">
          <textarea id="comentarios" rows="3" placeholder="¿Que te gusto más?"></textarea>
        </div>

        <div class="form-field-textarea">
            <textarea id="comentarios" rows="3" placeholder="¿Que podria mejorar?"></textarea>
          </div>

         
    
        <button type="submit" class="login-button">
          Enviar Calificación
        </button>
      
      </div>
    </form>
    </main>
