<main>
    <div class="carousel-container">
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-inner">
                <div *ngFor="let item of restaurantsList; index as i" class="carousel-item" [class.active]="i === 0">
                    <div class="carousel-slide-bg"
                        [ngStyle]="{'background-image': 'url(' + 'http://localhost:3000' + item.logo + ')'}"></div>
                    <div class="carousel-caption custom-caption">
                        <div class="caption-row">
                            <div class="caption-left">
                                <h3 class="restaurant-title">{{item.name}}</h3>
                                <p class="restaurant-description">{{item.description}}</p>
                            </div>
                            <div class="caption-right">
                                <button [routerLink]="['/perfil-del-restaurante', item._id]" class="icon-btn chat-btn">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                            </div>
                        </div>
                        <div class="action-buttons centered-bottom">
                            <button (click)="removeRestaurant(item._id)" class="icon-btn heart-btn"><i
                                    class="bi bi-heartbreak-fill"></i></button>
                            <button class="icon-btn heart-btn active" type="button"
                                data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                <i class="bi bi-heart-fill"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>