<main>
    <h1>George's Brassas</h1>
    <p><i class="bi bi-geo-alt"></i> Envigado</p>
    <div class="card-content">
        <p class="rating">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-half"></i>
            <i class="bi bi-star"></i>
        </p>
        <div class="action-button-group">
            <button class="icon-btn"><i class="bi bi-bookmark"></i></button>
            <button class="icon-btn" routerLink="/perfil-del-restaurante"><i class="bi bi-three-dots"></i></button>
        </div>
    </div>
  </main>