<footer class="mt-auto py-4" style="background-color: #4A2C2A; color: #F5F5DC;">
    <div class="container">
      

      <div class="row align-items-center mb-4">  
        <div class="col-md-2 text-center text-md-start mb-3 mb-md-0">
          <img src="assets/main_Resources/logo-matchfood.png" alt="MatchFood Logo" width="110" height="90" />
        </div>
  
        <div class="col-md-2 text-center text-md-start mb-3 mb-md-0">
          <div class="d-flex flex-column align-items-center align-items-md-start">
            <div class="d-flex gap-3 mb-2">
              <a routerLink="#" class="text-decoration-none" style="color: #F5F5DC; font-size: 1.5rem;">
                <i class="bi bi-instagram"></i>
              </a>
              <a routerLink="#" class="text-decoration-none" style="color: #F5F5DC; font-size: 1.5rem;">
                <i class="bi bi-facebook"></i>
              </a>
              <a routerLink="#" class="text-decoration-none" style="color: #F5F5DC; font-size: 1.5rem;">
                <i class="bi bi-whatsapp"></i>
              </a>
            </div>
            <small style="color: #F5F5DC;">Redes Sociales</small>
          </div>
        </div>
  
        <div class="col-md-4 d-none d-md-block"></div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-6 text-center text-md-start mb-3 mb-md-0">
              <h6 class="fw-semibold mb-2" style="color: #F5F5DC;">Nosotros</h6>
              <a routerLink="/nosotros" class="d-block text-decoration-none small mb-1" style="color: #F5F5DC;">Acerca de MatchFood</a>
              <a routerLink="" class="d-block text-decoration-none small" style="color: #F5F5DC;">Guía de la aplicación</a>
            </div>
            <div class="col-6 text-center text-md-start mb-3 mb-md-0">
              <h6 class="fw-semibold mb-2" style="color: #F5F5DC;">Ayuda</h6>
              <a routerLink="" class="d-block text-decoration-none small mb-1" style="color: #F5F5DC;">Preguntas frecuentes</a>
              <a routerLink="" class="d-block text-decoration-none small" style="color: #F5F5DC;">Reportar problema</a>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-12 text-center">
          <small style="color: #F5F5DC;">© Colombia 2025, Derechos reservados MatchFood®</small>
          <a routerLink="/crear-restaurante" class="d-block text-decoration-none small" style="color: #F5F5DC;">Crear restaurante</a>
        </div>
      </div>
    </div>
  </footer>
  