/* welcome.css */
main {
    height: 66.7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/main_Resources/Wallpaper_Collage.png');
}

p{
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

a{
    background-color: var(--color-buttons1);
    color: var(--color-textos);
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    font-size: large;
}